# Streamlit app
streamlit

# Langchain e modelos
langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai

# Vetorização
faiss-cpu

# Documentos PDF
pypdf
langchain-pdf

# Utilitários
python-dotenv





